<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			<%= title %>
		</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<div class="main">
			<h1><%= username %>欢迎使用Dmail系统！</h1>
			<div>
				<a href="/mail/send">发送邮件</a>
				<a href="/mail">查看邮件</a>
				<a href="/user/logout">登出系统</a>
			</div>
		</div>
	</body>

</html>